div{
  width: 50px;
  height: 72px;
  background-image : url(wavingdude.png);
  animation: moveX 1s steps(10) infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  
}

@keyframes moveX{
  from{background-position-x:0px;}
  to{background-position-x:-500px;}
}